# PYTHON BASICS PRACTICE

In [1]:
arr1 = [1,2,3]
arr2 = [6,5,4]

In [2]:
arr1.append(arr2)

In [3]:
print(arr1)

[1, 2, 3, [6, 5, 4]]

In [4]:
arr1.extend(arr2)

In [5]:
arr1

[1, 2, 3, [6, 5, 4], 6, 5, 4]

In [6]:
arr2.sort()

In [7]:
arr2

[4, 5, 6]

## Replace with Cube

In [2]:
def replace_cube(arr, N):
    res_list = arr.copy()
    # Your code starts here
    for i in range(len(res_list)): 
        if (i + 1) % N == 0: 
            res_list[i] = res_list[i]**3 

    # Your code ends here
    return res_list

In [3]:
arr = [1,2,3,4,5]
print(replace_cube(arr,2))

[1, 8, 3, 64, 5]

In [4]:
lis = [(0, 2), (1, 3), (2, 4)]
result = sum (n for _, n in lis)
print(result)

9

Let me break down this Python code step by step:

1. First, let's look at `lis = [(0, 2), (1, 3), (2, 4)]`:
   - This creates a list containing three tuples
   - Each tuple has two numbers: (0,2), (1,3), and (2,4)
   - The first number in each tuple is at index 0, the second at index 1

2. Then `result = sum(n for _, n in lis)`:
   - This is using a generator expression with tuple unpacking
   - `_, n in lis`: 
     - The underscore `_` is used as a throwaway variable for the first number in each tuple
     - `n` captures the second number in each tuple
   - So it's basically saying:
     - Take each tuple from the list
     - Ignore the first number (captured by `_`)
     - Use the second number (captured by `n`)
     - Add all these second numbers together

Let's break it down step by step:

```python
# For first tuple (0, 2):
# _ = 0 (ignored)
# n = 2 (used)

# For second tuple (1, 3):
# _ = 1 (ignored)
# n = 3 (used)

# For third tuple (2, 4):
# _ = 2 (ignored)
# n = 4 (used)

# sum(2 + 3 + 4) = 9
```

So `result` will be 9, because:
- From (0,2) we take 2
- From (1,3) we take 3
- From (2,4) we take 4
- 2 + 3 + 4 = 9

This same operation could be written in a more verbose way:
```python
result = 0
for first_num, second_num in lis:
    result += second_num
```

The underscore `_` is a convention in Python to indicate that we won't be using that variable in our code. It's a way to tell other programmers "we're deliberately ignoring this value."

In [2]:
"keyword"

'keyword'

In [4]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [37]:
def star(n):
    for row in range(1,n+1):
        for column in range(row):
            print("*" * row)
            break

In [38]:
print(star(4))

*
**
***
****
None

In [70]:
def inctriangle(n):
    for i in range(n):
        for j in range(i+1):
            print("*", end = " ")
        print()

In [71]:
print(inctriangle(4))

*
* *
* * *
* * * *
None

In [72]:
print(inctriangle(7))

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
None

In [73]:
def box(n):
    for i in range(n):
        for j in range(n):
            print('*', end = " ")
        print()

In [74]:
print(box(7))

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
None

In [75]:
def dectri(n):
    for i in range(n):
        for j in range(i,n):
            print('*', end = " ")
        print()

In [76]:
print(dectri(7))

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*
None

In [80]:
def righttri(n):
    for i in range(n):#5
        for j in range(i,n):#0,5
            print(" ",end=" ")#______
        for j in range(i+1):#_____*
            print("*",end=" ")
        print()

In [81]:
print(righttri(7))

              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *
None

In [88]:
def rytdec(n):
    for i in range(n):
        for j in range(i):
            print(" ", end = " ")
        for j in range(i,n):
            print("*", end = " ")
        print()

In [89]:
print(rytdec(7))

* * * * * * *
  * * * * * *
    * * * * *
      * * * *
        * * *
          * *
            *
None

In [96]:
def inchill(n):
    for i in range(n):
        for j in range(i,n):
            print(" ", end = " ")
        for j in range(i+1):
            print("*", end = " ")
        for j in range(i):
            print("*", end = " ")
        print()

In [97]:
print(inchill(5))

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
None

In [7]:
def dechill(n):
    for i in range(n):
        for j in range(i):
            print(" ", end = " ")
        for j in range(n-i):
            print("*", end = " ")
        for j in range(i,n-1):
            print("*", end = " ")
        print()

In [8]:
print(dechill(5))

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *
None

## Pattern Revision

In [1]:
def leftarray(n):
    for i in range(n):
        for j in range(i+1):
            print("*", end = " ")
        print()

In [2]:
print(leftarray(5))

*
* *
* * *
* * * *
* * * * *
None

In [3]:
def rightarray(n):
    for i in range(n):
        for j in range(n-i):
            print(" ", end = " ")
        for j in range(i+1):
            print("*", end = " ")
        print()

In [4]:
print(rightarray(5))

          *
        * *
      * * *
    * * * *
  * * * * *
None

In [9]:
def boxarray(n):
    for i in range(n):
        for j in range(n):
            print("*", end = " ")
        print()

In [10]:
print(boxarray(5))

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
None

In [13]:
def decleft(n):
    for i in range(n):
        for j in range(n-i):
            print("*", end = " ")
        print()

In [14]:
print(decleft(5))

* * * * *
* * * *
* * *
* *
*
None

In [17]:
def decryt(n):
    for i in range(n):
        for j in range(i):
            print(" ", end = " ")
        for j in range(n-i):
            print("*", end = " ")
        print()

In [18]:
print(decryt(5))

* * * * *
  * * * *
    * * *
      * *
        *
None

In [21]:
def uphill(n):
    for i in range(n):
        for j in range(n-i):
            print(" ", end = " ")
        for j in range(i+1):
            print("*", end = " ")
        for j in range(i):
            print("*", end = " ")
        print()

In [22]:
print(uphill(5))

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
None

## Sorting revision

In [1]:
def insertionsort(arr):
    for j in range(1,len(arr)):
        key = arr[j]
        i = j-1
        while i >= 0 and arr[i] > key:
            arr[i+1] = arr[i]
            i = i-1
        arr[i+1] = key
    return arr

In [2]:
lst = [12,14,11,10,9,15]
print(insertionsort(lst))

[9, 10, 11, 12, 14, 15]

In [3]:
def bubblesort(arr):
    for i in range(len(arr)):
        for j in range(len(arr)-i-1):
            if arr[j] > arr[j+1]:
                arr[j],arr[j+1] = arr[j+1],arr[j]
    return arr

[9, 10, 11, 12, 14, 15]

In [5]:
lst_2 = [12,14,11,10,9,15]

In [7]:
print(bubblesort(lst_2))

[9, 10, 11, 12, 14, 15]

In [4]:
def isort(arr):
    for j in range(1,len(arr)):
        key = arr[j]
        i = j-1
        while i>=0 and arr[i] > key:
            arr[i+1] = arr[i]
            i = i-1
        arr[i+1] = key
    return arr

In [5]:
lst_2 = [12,14,11,10,9,15]

In [6]:
print(isort(lst_2))

[9, 10, 11, 12, 14, 15]

In [7]:
def bsort(arr):
    for i in range(len(arr)):
        for j in range(len(arr)-i-1):
            if arr[j] > arr[j+1]:
                arr[j],arr[j+1] = arr[j+1],arr[j]
        print(arr)
    return arr

In [8]:
lst_2 = [12,14,11,10,9,15]
print(bsort(lst_2))

[12, 11, 10, 9, 14, 15]
[11, 10, 9, 12, 14, 15]
[10, 9, 11, 12, 14, 15]
[9, 10, 11, 12, 14, 15]
[9, 10, 11, 12, 14, 15]
[9, 10, 11, 12, 14, 15]
[9, 10, 11, 12, 14, 15]

In [14]:
def optbs(arr):
    for i in range(len(arr)):
        swapped = False
        for j in range(len(arr)-i-1):
            if arr[j] > arr[j+1]:
                swapped = True
                arr[j],arr[j+1] = arr[j+1],arr[j]
            print(arr)
        if not swapped:
            break
    return arr

In [15]:
lst_2 = [12,14,11,10,9,1]
print(optbs(lst_2))

[12, 14, 11, 10, 9, 1]
[12, 11, 14, 10, 9, 1]
[12, 11, 10, 14, 9, 1]
[12, 11, 10, 9, 14, 1]
[12, 11, 10, 9, 1, 14]
[11, 12, 10, 9, 1, 14]
[11, 10, 12, 9, 1, 14]
[11, 10, 9, 12, 1, 14]
[11, 10, 9, 1, 12, 14]
[10, 11, 9, 1, 12, 14]
[10, 9, 11, 1, 12, 14]
[10, 9, 1, 11, 12, 14]
[9, 10, 1, 11, 12, 14]
[9, 1, 10, 11, 12, 14]
[1, 9, 10, 11, 12, 14]
[1, 9, 10, 11, 12, 14]

In [16]:
lst_2 = [12,14,11,10,9,1]
print(bsort(lst_2))

[12, 11, 10, 9, 1, 14]
[11, 10, 9, 1, 12, 14]
[10, 9, 1, 11, 12, 14]
[9, 1, 10, 11, 12, 14]
[1, 9, 10, 11, 12, 14]
[1, 9, 10, 11, 12, 14]
[1, 9, 10, 11, 12, 14]

In [27]:
def selectionsort(arr):
    for i in range(len(arr)):
        min_index = i
        for j in range(i+1,len(arr)):
            if arr[j]<arr[min_index]:
                min_index = j
        arr[i],arr[min_index] = arr[min_index],arr[i]
    return arr

In [29]:
arr = [1,55,6,5,2]
print(ss(arr))

[1, 2, 5, 6, 55]

## Patterns -2

In [32]:
def uphill(n):
    for i in range(n):
        for j in range(n-i):
            print(" ", end = " ")
        for j in range(i+1):
            print("*", end = " ")
        for j in range(i):
            print("*", end = " ")
        print()

In [33]:
uphill(7)

              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *

In [38]:
def downhill(n):
    for i in range(n):
        for j in range(i):
            print(" ", end = " ")
        for j in range(n-i):
            print("*", end = " ")
        for j in range(n-i-1):
            print("*", end = " ")
        print()

In [39]:
downhill(5)

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

## Lambda practice

**1. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and prints the result.
Sample Output:
25
48**

In [3]:
sum_result = lambda x : x + 15
print(sum_result(6))

21

In [13]:
product_result = lambda y : y * z  #when 2 variables involved, we have to denote it before '='
print(product_result(6)(7))

NameError: name 'z' is not defined

In [14]:
product_result = lambda y, z : y * z 
print(product_result(6, 7))

42

**2. Write a Python program to create a function that takes one argument, and that argument will be multiplied with an unknown given number.
Sample Output:
Double the number of 15 = 30
Triple the number of 15 = 45
Quadruple the number of 15 = 60
Quintuple the number 15 = 75**

In [22]:
double_trible = lambda x,n : x * n

In [23]:
double_trible(4,2)

8

**3. Write a Python program to sort a list of tuples using Lambda.
Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]**

In [25]:
subjects = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)] 
sorted(subjects, key = lambda x : x[1])

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

**4. Write a Python program to sort a list of dictionaries using Lambda.
Original list of dictionaries :
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
Sorting the List of dictionaries :
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]**

In [27]:
phone = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

In [32]:
#sorting based on color of the phone
sorted(phone, key = lambda x : x['color'])

[{'make': 'Nokia', 'model': 216, 'color': 'Black'},
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'},
 {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

**5. Write a Python program to filter a list of integers using Lambda.
Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even numbers from the said list:
[2, 4, 6, 8, 10]
Odd numbers from the said list:
[1, 3, 5, 7, 9]**

In [41]:
# filter(function, iterable)
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = list(filter(lambda x:x%2==0,lst))
odd = list(filter(lambda y:y%2!=0,lst))
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

**6. Write a Python program to square and cube every number in a given list of integers using Lambda.
Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Square every number of the said list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Cube every number of the said list:
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]**

In [42]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
square = print(list(map(lambda x : x**2, lst)))
cube = print(list(map(lambda y : y**3, lst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

**7. Write a Python program to find if a given string starts with a given character using Lambda.**

In [44]:
string = "hi how are you"
startswith = lambda x : True if x.startswith("P") else False
startswith(string)

False

In [45]:
ureka = "python is an interesting language"
startswith(ureka)

False

In [55]:
startswith(ureka.capitalize())

True

## Python refresher 1 to Functional programming

In [1]:
string = "Jude.py"

In [9]:
splitted = string.split(".")

In [10]:
splitted[-1]

'py'

In [13]:
#date extraction
exam_st_date = (11, 12, 2014)

print(f'the exam date is on {exam_st_date[0]}')

the exam date is on 11

In [14]:
# doc string means documentation, which appears in the first line of every module.
print(len.__doc__)

Return the number of items in a container.

In [15]:
print(sorted.__doc__)

Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.

In [16]:
print(map.__doc__)

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

**8. Write a Python program that prints the calendar for a given month and year.
Note : Use 'calendar' module.**

In [18]:
import calendar

In [19]:
print(calendar.__doc__)

Calendar printing functions

Note when comparing these calendars to the ones printed by cal(1): By
default, these calendars have Monday as the first day of the week, and
Sunday as the last (the European convention). Use setfirstweekday() to
set the first day of the week (0=Monday, 6=Sunday).

In [21]:
dir(calendar)

['APRIL',
 'AUGUST',
 'Calendar',
 'DECEMBER',
 'Day',
 'EPOCH',
 'FEBRUARY',
 'FRIDAY',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'IntEnum',
 'JANUARY',
 'JULY',
 'JUNE',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MARCH',
 'MAY',
 'MONDAY',
 'Month',
 'NOVEMBER',
 'OCTOBER',
 'SATURDAY',
 'SEPTEMBER',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__getattr__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_get_default_locale',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_monthlen',
 '_nextmonth',
 '_prevmonth',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'global_enum',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthrange',
 'prcal',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'warnings',
 'week',
 'weekday',
 'weekheader']

In [33]:
calendar.monthcalendar?

Signature: calendar.monthcalendar(year, month)
Docstring:
Return a matrix representing a month's calendar.
Each row represents a week; days outside this month are zero.
File:      c:\users\hp\appdata\local\programs\python\python312\lib\calendar.py
Type:      method

In [40]:
year = 2024
month = 8
print(calendar.monthcalendar(year,month))

[[0, 0, 0, 1, 2, 3, 4], [5, 6, 7, 8, 9, 10, 11], [12, 13, 14, 15, 16, 17, 18], [19, 20, 21, 22, 23, 24, 25], [26, 27, 28, 29, 30, 31, 0]]

In [41]:
print(calendar.month(year, month))

    August 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

**9. Write a Python program to count the number 4 in a given list.**

In [42]:
lst = [1,2,3,4,5,6,5,4,3,3,2]
print(lst.count(4))

2

## Conditional statements and loops

**Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).**

In [47]:
for i in range(1500,2701):
    if i % 7== 0 and i % 5 == 0:
        print(i,end = " ")
    else:
        continue

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

**4. Write a Python program to construct the following pattern, using a nested for loop.**

In [73]:
def malai(n):
    for i in range(n):
        for j in range(i+1):
            print("*", end = " ")
        print()
    for i in range(n):
        for j in range(n-i):
            print("*", end = " ")
        print()

In [74]:
malai(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [75]:
def padhimalai(n):
    for i in range(n//2):
        for j in range(i+1):
            print("*", end = " ")
        print()
    for i in range(n//2,n):
        for j in range(n-i):
            print("*", end = " ")
        print()

In [76]:
print(padhimalai(6))

*
* *
* * *
* * *
* *
*
None

In [78]:
padhimalai(9)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [79]:
print(malai(9))

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*
None

**5. Write a Python program that accepts a word from the user and reverses it.**

In [7]:
word = input("enter the word ")
result = word.split()
result2 = result[-1::-1]
print(result2)

enter the word  Hi I am theodore

['theodore', 'am', 'I', 'Hi']

In [86]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Filter ()

**Write a Python function that filters out elements from a list of strings containing a specific substring using the filter function.**

In [1]:
string = ["Hillary", "Judson", "Alfred", "Henry", "Akash", "Berrin"]
result = filter(lambda x:x.startswith("H"), string)
print(list(result))

['Hillary', 'Henry']

**Write a Python program that creates a list of tuples, each containing a city name and its population. Use the filter function to extract cities with a population greater than certain value**

In [7]:
Population = [("chennai",12054000),("Hyderabad",11069000),("Bangalore",14008000),("Mumbai",21673000),("Delhi",33807000)]

result = filter(lambda x : x[1]>15000000, Population)
print(list(result))

[('Mumbai', 21673000), ('Delhi', 33807000)]

**Write a Python program that creates a list of words and use the filter function to extract words that contain more than five letters.**

In [8]:
string = ["Hillary", "Judson", "Alfred", "Henry", "Akash", "Berrin"]

print(list(filter(lambda x : len(x)>5, string)))

['Hillary', 'Judson', 'Alfred', 'Berrin']

In [16]:
List = [1,2,3,1,1,2]
def most_frequent(List):
    dict= {}
    count, result = 0, " "
    for item in reversed(List):
        dict[item] = dict.get(item,0) + 1
        if dict[item] >= count:
            count, result = dict[item] , item
    return(result)
print(most_frequent(List))

1

In [17]:
dict[item]

3

In [20]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [29]:
dict.get?

Signature: dict.get(key, default=None, /)
Docstring: Return the value for key if key is in the dictionary, else default.
Type:      builtin_function_or_method

In [30]:
List = [1,2,3,1,1,2]
def most_frequent(List):
    result = max(set(List), keys= List.count())
print(most_frequent(List))

TypeError: list.count() takes exactly one argument (0 given)

In [31]:
max?

Docstring:
max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.
Type:      builtin_function_or_method

## Finding the most frequent number

In [34]:
def most_frequent(arr):
    # YOUR CODE GOES HERE
    temp = 0
    count = 0
    for i in range(len(arr)):
        temp = arr.count(arr[i])

        if temp > count:
            count = temp
            index = i
    return arr[i]

In [35]:
lst = [23,44,332,22,34,54,66,75,23]

In [36]:
most_frequent(lst)

23

## Finding number of words that has unique letters in it

In [39]:
word = "who the hell is alfred"

In [38]:
len(word)

22

In [41]:
print(set(word))
print(len(set(word)))

{'i', 'w', ' ', 'l', 'f', 't', 'h', 's', 'r', 'd', 'a', 'e', 'o'}
13

In [44]:
def unique_words(arr):
    count = 0
    word = arr.split()
    for i in word:
        if len(set(i)) == len(i) > 3:
            count += 1
    return count

In [45]:
word = "who the hell is alfred"
print(unique_words(word))

1

In [46]:
Bible = "The lord is my sherpard and I shall not want He makes me lie down in green pastures"
print(unique_words(Bible))

4

## Complete the function check_equal() to return whether the given two strings are the same or not if you are allowed to:

In [8]:
def checkequal(str1,str2):
    if len(str1) != len(str2):
        return "Not Same"
    n = len(str2)
    strlist = list(str2)

    for _ in range(n):
        if "".join(strlist) == str1:
            return "Same"

        shift_str = strlist.pop(0)
        strlist.append(shift_str)
    return "Not same"

In [9]:
checkequal("Hillary","illaryH")

'Same'

In [10]:
checkequal("Jackson","sonJack")

'Same'

In [11]:
checkequal("Hillary","illaryh")

'Not same'

### Sorting practice

In [3]:
def insertionsort(arr):
    for j in range(1,len(arr)):
        key = arr[j]
        i = j-1
        while i>=0 and arr[i]>key:
            arr[i+1] = arr[i]
            i = i-1
        arr[i+1] = key
    return arr

In [4]:
lst = [1,2,3,4,5,9,7,5]
print(insertionsort(lst))

[1, 2, 3, 4, 5, 5, 7, 9]

In [44]:
def bubblesort(arr):
    for i in range(len(arr)):
        for j in range(len(arr)-i-1):
            if arr[j]>arr[j+1]:
                arr[j],arr[j+1] = arr[j+1],arr[j]
    return arr

In [45]:
lst_2 = [10,2,3,4,5,9,7,5]
bubblesort(lst_2)

[2, 3, 4, 5, 5, 7, 9, 10]

In [54]:
def selectionsort(arr):
    for i in range(len(arr)):
        min_index = i
        for j in range(i+1,len(arr)):
            if arr[min_index]>arr[j]:
                min_index = j
        arr[i],arr[min_index] = arr[min_index],arr[i]
    return arr

In [55]:
lst_2 = [10,2,3,4,5,9,7,5]
selectionsort(lst_2)

[2, 3, 4, 5, 5, 7, 9, 10]

## Enumerate

In [1]:
lst = ['apple','orange','banana','pineapple','pear']
for i in enumerate(lst):
    print(i)

(0, 'apple')
(1, 'orange')
(2, 'banana')
(3, 'pineapple')
(4, 'pear')

In [2]:
lst2 = ['apple','orange','banana','pineapple','pear']
for i,value in enumerate(lst2,100):
    print(i,value)
    print(i*2)

100 apple
200
101 orange
202
102 banana
204
103 pineapple
206
104 pear
208

**Write a Python program that iterates over an enum class and displays each member and their value.**

In [3]:
Countries = ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antarctica']
Ranking = [90,89,74,34,22,12]
for i,(Countries, Ranking) in enumerate(zip(Countries, Ranking)):
    print(Countries,"=", Ranking)

Afghanistan = 90
Albania = 89
Algeria = 74
Andorra = 34
Angola = 22
Antarctica = 12

In [4]:
Countries = ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antarctica']
Ranking = [90,89,74,34,22,12]
for i,(Countries, rank) in enumerate(zip(Countries, Ranking)):
    if rank > 50:
        print(Countries, rank)

Afghanistan 90
Albania 89
Algeria 74

# Class

In [1]:
class p1:
    def __init__(self):
        self.name = "this is my first class program"

In [3]:
p = p1()

In [4]:
p.name

'this is my first class program'

In [5]:
class P2:
    def __init__(self,model,color = " "):
        self.name = model   #attributes of object
        self.color = color

In [7]:
car = P2('Swift')

In [8]:
car.name

'Swift'

car.color

In [11]:
car.color = "white"

In [12]:
car.color

'white'

In [13]:
class P3:
    def __init__(self,brand = "Maruthi", color = ""):
        self.name = brand
        self.color = input("enter your desired color: ")
    def __repr__(self):
        return "This is a class of cars"

In [14]:
car = P3()

enter your desired color:  Violet

In [15]:
car.color

'Violet'

In [16]:
car

This is a class of cars

In [24]:
class Fruit():
    def __init__(self,fruit_name,expiry = ""):   
        self.expiry = int(input("Please enter the expiry value:")) #attributes
        self.name = fruit_name
    def import_enquiry(self):
        mfg = int(input("enter the value"))
        return mfg

In [25]:
f = Fruit('Melon')

Please enter the expiry value: 50

In [27]:
f.import_enquiry()

enter the value 30

30

In [28]:
f.name

'Melon'

In [29]:
class Student():
    counter = 0
    def __init__(self,std,section):
        Student.counter += 1 #attributes
        self.standard = std
        self.section = section

In [30]:
Hillary = Student('4th','c')

In [31]:
Hillary.standard

'4th'

In [32]:
Hillary.section

'c'

In [33]:
Hillary.counter

1

In [34]:
Henry = Student('12th','a')

In [35]:
Henry.counter

2

**when counter is not called inside the magic method, it does not get counter in real time**

In [39]:
class abc:
  counter = 10
  def __init__(self):
    self.name = "no name"

In [40]:
hill = abc()
hen = abc()

In [42]:
hill.counter

10

In [43]:
hen.counter

10

In [44]:
class Account():
  balance = 0
  account_no = 1000

  def __init__(self, balance = 0):   #constructors
    Account.account_no +=1   #attributes
    self.__accnum = Account.account_no
    self.balance = balance

  def __repr__(self):
    return f"Account {self.__accnum} has balance {self.balance}"
  def deposit(self, amount):   #methods
    if amount>0:
      self.balance += amount

  def withdrawl(self, amount):   #methods
    pass

In [45]:
h = Account()

In [46]:
h.balance

0

In [47]:
h.balance = 300

In [48]:
h

Account 1001 has balance 300

In [49]:
h.account_no

1001

In [52]:
h.deposit(800)

In [53]:
h.withdrawl(200)

In [54]:
h

Account 1001 has balance 1100

In [55]:
Account.account_no

1001

In [56]:
J = Account(8000)

In [57]:
J.account_no

1002

In [58]:
Account.account_no

1002

In [61]:
J.balance

8000

In [13]:
class Bankaccount():
    counter = 0
    def __init__(self,amount):
        Bankaccount.counter += 1
        self.id = Bankaccount.counter
        self.balance = amount
        self.passbook = []
    def __repr__(self):
        return "Welcome to Bank Account"
    
    def deposit(self,amount):
        self.balance += amount
        entry = ('deposit',amount)
        self.passbook.append(entry)

    def withdrawl(self,amount):
        self.balance += amount
        entry = ('withdrawl',amount)
        self.passbook.append(entry)

In [3]:
Hillary = Bankaccount(5000)

In [4]:
Hillary.balance

5000

In [5]:
Hillary.id

1

In [6]:
Hillary.deposit(300)

In [7]:
Hillary.passbook

[('deposit', 300)]

In [8]:
Henry = Bankaccount(9000)

In [9]:
Henry.id

2

In [10]:
Henry.withdrawl(200)

In [11]:
Henry.passbook

[('withdrawl', 200)]

In [14]:
print(Henry.balance)
print(Hillary.balance)

9200
5300

In [18]:
print(Henry)

<__main__.Bankaccount object at 0x000002167B3FD7C0>

### Difference between Class, Instance and Object

In [19]:
class Dog:

    # Class Variable
    animal = 'dog'

    # The init method or constructor
    def __init__(self, breed, color):

        # Instance Variable
        self.breed = breed
        self.color = color


# Objects of Dog class
Rodger = Dog("Pug", "brown")

print('Rodger details:')
print('Rodger is a', Rodger.animal)
print('Breed: ', Rodger.breed)
print('Color: ', Rodger.color)

Rodger details:
Rodger is a dog
Breed:  Pug
Color:  brown

### Inheritance

In [ ]:
"""Class BaseClass:
    {Body}
   Class DerivedClass(BaseClass):
    {Body}"""

In [20]:
class Vehicle:    #Base class or parent class
  def __init__(self,name=" ",color = " ", mileage = 0):
    self.name = name
    self.mileage = mileage
    self.color = color
    self.
  def __repr__(self):
    return f"the vehicle is a {self.name} with a mileage of {self.mileage}"

class Bus(Vehicle):   #sub class or child class
    def __init__(self,mileage = 100):
        self.mileage = mileage
    def __repr__(self):
        return f"This is a {self.name} with a stunning {self.color} \nMileage = {self.mileage}"

In [21]:
van = Vehicle('ambassador','green',50)

In [22]:
van.color

'green'

In [23]:
van

the vehicle is a ambassador with a mileage of 50

In [24]:
Omni = Bus()

In [25]:
Omni.mileage

100

#### Using super() method in subclass

A method from a parent class can be called in subclass using the super() function. It enables method overriding and inheritance. Even if the current class has replaced those methods with its own implementation, calling super() allows you to access and use the parent classs methods. By doing this, you may enhance and modify the parent classs behavior.

In [26]:
class Account:
  counter = 100

  def __init__(self,amount=0):    #initializing the object
    Account.counter += 1        #these are the attributes which is common to all the objects in the class
    self.balance = amount
    self.minbalance = 30
    self.id = Account.counter
    self.passbook = []
    self.numtrans = 0
    self.maxtrans = 3

  def __repr__(self):
    return f"Your account id is {Account.counter} and your balance amount is {self.balance}"

  def deposit(self,amount):
    if self.numtrans < self.maxtrans:
      self.balance += amount
      entry = ('deposit',amount)
      self.passbook.append(entry)
      self.numtrans += 1
    else:
      print("transaction limit exceeded")

  def withdraw(self,amount):
    if self.minbalance < amount < self.balance:
      if self.numtrans < self.maxtrans:
        self.balance -= amount
        print("approved")
        entry = ('withdrawn', amount)
        self.passbook.append(entry)
        self.numtrans += 1
      else:
        print("transaction limit exceeded")
    else:
      print("Check amount to balance")
      pass

class Savingsaccount(Account):
  def __init__(self,amount):
    super().__init__()
    self.maxtrans = 5       #since my max transaction is only 2 for overall class, I want to customize for savings account alone. Hence I am overriding
class Currentaccount(Account):    #these are the child class of the parent class Account. Inheritance.
  pass

In [51]:
class Mammal():

    def __init__(self, name):
        print(name, "Is a mammal")

class canFly(Mammal):

    def __init__(self, canFly_name):
        print(canFly_name, "cannot fly")

        # Calling Parent class
        # Constructor
        super().__init__(canFly_name)

In [52]:
m = Mammal('Lion')

Lion Is a mammal

In [53]:
b = canFly('crow')

crow cannot fly
crow Is a mammal

In [57]:
class Mammal():

    def __init__(self, name):
        print(name, "Is a mammal")
        self.name = name

class canFly(Mammal):

    def __init__(self, canFly_name):
        print(canFly_name, "cannot fly")

In [58]:
g = Mammal('leopard')

leopard Is a mammal

In [59]:
h = canFly('Zebra')

Zebra cannot fly

In [60]:
g.name

'leopard'

In [61]:
h.name

AttributeError: 'canFly' object has no attribute 'name'

## Encapsulation

In [43]:
class God:
    def __init__(self):
        self._miracles = 1000

class man(God):
    def __init__(self):
        self._miracles = 50

In [44]:
Jude = God()

In [46]:
Jack = man()

In [47]:
Jack._miracles

50

In [48]:
Jude._miracles

1000

Public Members: By default, attributes and methods are public and can be accessed from outside the class.

Protected Members: Use a single underscore (_) prefix to indicate that an attribute or method is intended for internal use within the class and its subclasses.

Private Members: Use double underscores (__) prefix to make an attribute or method private. This leads to name mangling, making it more challenging to access from outside the class.

#### Dictionary

In [18]:
class Fruits:
    def __init__(self,price):
        self.price = price
F = Fruits(10)
F.quantity = 10
F.bag = 2
print(len(F.__dict__))

3